{% extends "layout/_main.twig" %}

{% block title %} - Accueil{% endblock %}

{% block content %}

<div class="row">
    <div class="section-jumbo-container">
        <h1 class="jumbo-header">MaPAC</h1>
        <p class="motto">Répartition et évolution des aides perçues au titre de la PAC sur le territoire français.</p>
        <br />
        {% include 'forms/_zipcode.twig' %}
    </div>
</div>

<div class="container-center">
    <div class="row">
        <p>Ce site présente la répartition par personne morale et par commune ainsi que l'évolution, en montant et en pourcentage, des aides perçues au titre de la <a href="http://fr.wikipedia.org/wiki/Politique_agricole_commune" title="PAC">Politique Agricole Commune</a> sur le territoire français en 2010, 2011 et 2012. Les données utilisées proviennent de la <a href="http://www.data.gouv.fr/fr/dataset/aides-percues-par-les-personnes-morales-au-titre-de-la-politique-agricole-commune" title="Open data">plateforme ouverte des données publiques françaises</a>.</p>

        <h3 class="light">Aides les plus importantes en {{ year }}</h3>

        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Nom ou raison sociale</th>
                    <th>Code postal</th>
                    <th>Commune</th>
                    <th class="amount">Montant en €</th>
                </tr>
            </thead>
            {% for subvention in biggestAmount %}
            {% set zipcode = "%05d"|format(subvention.company.zipcode) %}
            <tr>
                <td>{{ subvention.company }}</td>
                <td><a href="{{ path('by_zipcode', { 'zipcode': zipcode }) }}" title="Voir les aides perçues dans le {{ zipcode }}">{{ zipcode }}</a></td>
                <td>{{ subvention.company.city }}</td>
                <td class="amount">{{ subvention.amount|number_format(2, ',', ' ') }}</td>
            </tr>
            {% endfor %}
        </table>

        <br />
        <h3 class="light">Progressions les plus importantes entre {{ year - 1 }} et {{ year }} en €</h3>

        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Nom ou raison sociale</th>
                    <th>Code postal</th>
                    <th>Commune</th>
                    <th class="amount">Progression en €</th>
                </tr>
            </thead>
            {% for subvention in biggestGrowthAmount %}
            {% set zipcode = "%05d"|format(subvention.company.zipcode) %}
            <tr>
                <td>{{ subvention.company }}</td>
                <td><a href="{{ path('by_zipcode', { 'zipcode': zipcode }) }}" title="Voir les aides perçues dans le {{ zipcode }}">{{ zipcode }}</a></td>
                <td>{{ subvention.company.city }}</td>
                <td class="amount">{% if subvention.growthAmount != '' %}{{ subvention.growthAmount|number_format(2, ',', ' ') }}{% endif %}</td>
            </tr>
            {% endfor %}
        </table>

        <br />
        <h3 class="light">Progressions les plus importantes entre {{ year - 1 }} et {{ year }} en %</h3>

        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Nom ou raison sociale</th>
                    <th>Code postal</th>
                    <th>Commune</th>
                    <th class="amount">Progression en %</th>
                </tr>
            </thead>
            {% for subvention in biggestGrowthPercent %}
            {% set zipcode = "%05d"|format(subvention.company.zipcode) %}
            <tr>
                <td>{{ subvention.company }}</td>
                <td><a href="{{ path('by_zipcode', { 'zipcode': zipcode }) }}" title="Voir les aides perçues dans le {{ zipcode }}">{{ zipcode }}</a></td>
                <td>{{ subvention.company.city }}</td>
                <td class="amount">{% if subvention.growthPercent != '' %}{{ subvention.growthPercent|number_format(1, ',', ' ') }}{% endif %}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}
