{% extends "layout/_main.twig" %}

{% block content %}
<h1>Zipcode</h1>

{% if subventions|length %}
<p>Présentation du site {{ zipcode }} {{ subventions|length }} Sum {{ subventionsSum|number_format(2, ',', ' ') }}</p>
{% else %}
<p>bad zipcode {{ zipcode }} </p>
{% endif %}

{% include 'forms/zipcode.twig' %}

<table>
    <thead>
        <tr>
            <th>NOM PRENOM OU RAISON SOCIALE</th>
            <th>COMMUNE</th>
            <th>MONTANT TOTAL</th>
        </tr>
    </thead>
    {% for subvention in subventions %}
    <tr>
        <td>{{ subvention.company }}</td>
        <td>{{ subvention.company.city }}</td>
        <td>{{ subvention.amount|number_format(2, ',', ' ')}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
