{% extends "layout/_main.twig" %}

{% block content %}
<h1>Zipcode</h1>

{% if subventions|length %}
<p>Présentation du site {{ zipcode }} {{ subventions|length }} Sum {{ subventionsSum|number_format(2, ',', ' ') }}</p>
{% else %}
<p>bad zipcode {{ zipcode }} </p>
{% endif %}

{% include 'forms/zipcode.twig' %}

<h2>Les plus importantes subventions de {{ year }}</h2>
<table>
    <thead>
        <tr>
            <th>Nom ou raison sociale</th>
            <th>Commune</th>
            <th>Montant</th>
            <th>Progression (€)</th>
            <th>Progression (%)</th>
        </tr>
    </thead>
    {% for subvention in subventions %}
    <tr>
        <td>{{ subvention.company }}</td>
        <td>{{ subvention.company.city }}</td>
        <td>{{ subvention.amount|number_format(2, ',', ' ') }}</td>
        <td>{% if subvention.growthAmount %}{{ subvention.growthAmount|number_format(2, ',', ' ') }}{% endif %}</td>
        <td>{{ subvention.growthPercent }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
