{% extends "layout/_main.twig" %}

{% set zipcode = zipcode %}

{% block title %} - {{ zipcode }}{% endblock %}

{% block content %}
<div class="container-center">
    <div class="row">
        <br />
        <h1>Code postal {{ zipcode }}</h1>
        {% if subventions|length %}
            <h4>Répartition et évolution des <strong>{{ subventions|length }}</strong> aides perçues au titre de la PAC sur le territoire dont le code postal est <strong>{{ zipcode }}</strong> pour un montant total de <strong>{{ subventionsSum|number_format(2, ',', ' ') }} €</strong>.</h4>
        {% else %}
            <div class="alert alert-danger">Le code postal {{ zipcode }} n'existe pas ou aucune aide n'a été allouée sur ce territoire.</div>
        {% endif %}

        {% include 'forms/_zipcode.twig' %}

        {% if subventions|length %}
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Nom ou raison sociale</th>
                        <th>Commune</th>
                        <th class="amount">Montant en €</th>
                        <th class="amount">Evolution / {{ year - 1 }} en €</th>
                        <th class="amount">Evolution / {{ year - 1 }} en %</th>
                    </tr>
                </thead>
                {% for subvention in subventions %}
                <tr>
                    <td>{{ subvention.company }}</td>
                    <td>{{ subvention.company.city }}</td>
                    <td class="amount">{{ subvention.amount|number_format(2, ',', ' ') }}</td>
                    <td class="amount">{% if subvention.growthAmount != '' %}{{ subvention.growthAmount|number_format(2, ',', ' ') }}{% endif %}</td>
                    <td class="amount">{% if subvention.growthPercent != '' %}{{ subvention.growthPercent|number_format(1, ',', ' ') }}{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <div class="alert alert-info">
            Vous pouvez aussi naviguer dans les territoires avoisinants :
            {% for previousSubvention in previous %}
                {% set prevZipcode = "%05d"|format(previousSubvention.company.zipcode) %}
                <a href="{{ path('by_zipcode', { 'zipcode': prevZipcode }) }}" title="Voir les aides perçues dans le {{ prevZipcode }}">{{ prevZipcode }}</a> -
            {% endfor %}
            <strong>{{ zipcode }}</strong>
            {% for nextSubvention in next %}
                {% set prevZipcode = "%05d"|format(nextSubvention.company.zipcode) %}
                - <a href="{{ path('by_zipcode', { 'zipcode': prevZipcode }) }}" title="Voir les aides perçues dans le {{ prevZipcode }}">{{ prevZipcode }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
