{% extends "layout/_main.twig" %}

{% block content %}
<h1>Zipcode</h1>

{% if subventions|length %}
<p>Présentation du site {{ zipcode }} {{ subventions|length }}</p>
{% else %}
<p>bad zipcode {{ zipcode }} </p>
{% endif %}


<form action="" method="post">
    <input type="text" name="zipcode" value="{{ zipcode }}" />
    <button type="submit">Voir</button>
</form>

<table>
    <thead>
        <tr>
            <th>NOM PRENOM OU RAISON SOCIALE</th>
            <th>COMMUNE</th>
            <th>MONTANT TOTAL</th>
        </tr>
    </thead>
    {% for subvention in subventions %}
    <tr>
        <td>{{ subvention.company }}</td>
        <td>{{ subvention.company.city }}</td>
        <td>{{ subvention.amount|number_format(2, ',', ' ')}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
